@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <h4 class="card-title">Dil Desteği</h4>
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">@localizer["Dashboard"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Blog/MyBlogList">
                <i class="mdi mdi-database menu-icon"></i>
                <span class="menu-title">@localizer["Bloglarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Comment/CommentList">
                <i class="mdi mdi-comment menu-icon"></i>
                <span class="menu-title">@localizer["Yorumlarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/MessageList">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">@localizer["Mesajlarım"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Statistic/Index">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">@localizer["İstatistikler"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Chart/Index" ">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">@localizer["Grafikler"]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">@localizer["Çıkış Yap"]</span>
            </a>
        </li>
    </ul>
    </ul>
</nav>

